<h3>{{ title }}</h3>
<!--
<app-child></app-child>
<app-child></app-child>
<exos-quote></exos-quote>
<app-students></app-students>
<app-choice></app-choice>
<app-student-list></app-student-list>
<exos-city-choice></exos-city-choice>
<app-students></app-students>
<exos-switch></exos-switch>
<exos-textstats-main></exos-textstats-main>

<app-asc-com (message)="onMessage($event)"></app-asc-com>
<app-asc-com (message)="onMessage($event)"></app-asc-com>
<app-asc-com (message)="onMessage($event)"></app-asc-com>
<div>{{ childMessage }}</div>

<app-todo-form></app-todo-form>
<app-todo-list></app-todo-list>

<exos-meals></exos-meals>
<app-rform></app-rform>
<app-menu></app-menu>
<app-todo-list></app-todo-list>
-->

<!-- custom pipe demo-->
{{ 'Tra il dire e il fare ce di mezzo il mare' | summary: 10 }}

<! custom directive demo -->
<p appCustom="toto">Paragraphe</p>
<h2 appCustom>Blabla</h2>





