<h2 [ngClass]="objClass">Student List</h2>

<p *ngFor="let student of students; index as i">
    <span [ngStyle]="{'color': student.grade < 50 ? 'red' : 'black'}">{{ student.name }}</span>
    <span [ngStyle]="{'color': getColor(i)}"> ({{ student.grade }}/100)</span>
    <span [ngStyle]="objStyle"> => !!! INFO !!! <= </span>
    <span *ngIf="student.grade < 50"> => Prévenir les autorités !</span>
</p>

<ol>
    <li [ngClass]="{'winner': student.grade > 90, 'loser': student.grade < 50}" *ngFor="let student of students">
        {{ student.name }}
    </li>
</ol>

<select>
    <option *ngFor="let student of students">{{ student.name }}</option>
</select>